# Byte-compiled / optimized / DLL files
core/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Project files
.DS_Store
*.db
*.xml
*.json
*.txt
!wordlist.txt
paused.conf

# Ignorar a pasta 'path'
path/

TFC-Lusofona-API/